zestaw3/bin/pair_in.txt
zestaw3/bin/pair
zestaw3/bin/pri
zestaw3/bin/min
zestaw3/bin/min_in.txt
zestaw7/seg/bin/seg
zestaw7/seg/in.txt
zestaw7/new.sh
zestaw7/bin_n/bin/bin_n
zestaw7/bin_n/in.txt
zestaw7/bin/bin/bin
zestaw7/bin/in.txt
zestaw7/stamp/bin/stamp
zestaw7/stamp/in.txt
.git/objects/0b/1a19220b3404cbff3001ddd20c2c2de7c223c4
.git/HEAD
.git/description
.git/info/exclude
.git/hooks/fsmonitor-watchman.sample
.git/hooks/pre-rebase.sample
.git/hooks/commit-msg.sample
.git/hooks/prepare-commit-msg.sample
.git/hooks/pre-push.sample
.git/hooks/update.sample
.git/hooks/pre-commit.sample
.git/hooks/post-update.sample
.git/hooks/pre-applypatch.sample
.git/hooks/applypatch-msg.sample
.git/hooks/pre-receive.sample
.git/hooks/pre-merge-commit.sample
.git/config
.git/index
.gitignore
polecenia/tri.pdf
polecenia/rom.pdf
polecenia/merge.pdf
polecenia/field.pdf
polecenia/narc.pdf
polecenia/fact.pdf
polecenia/odd.pdf
polecenia/ball.pdf
polecenia/semi.pdf
polecenia/weight.pdf
polecenia/neigh.pdf
polecenia/pri.pdf
polecenia/half.pdf
polecenia/seg.pdf
polecenia/last.pdf
polecenia/jump.pdf
polecenia/net.pdf
polecenia/pair.pdf
polecenia/min.pdf
polecenia/reg.pdf
polecenia/stamp.pdf
polecenia/primes.pdf
polecenia/sol.pdf
polecenia/seq.pdf
polecenia/rec.pdf
polecenia/perf.pdf
polecenia/fibo.pdf
polecenia/ring.pdf
polecenia/square.pdf
polecenia/spiral.pdf
polecenia/bin.pdf
polecenia/axes.pdf
polecenia/ban.pdf
zestaw2/bin/weight
zestaw2/bin/random
zestaw2/bin/half
zestaw2/bin/narc
zestaw6/rec/bin/rec
zestaw6/rec/in.txt
zestaw6/new.sh
zestaw6/rom/bin/rom
zestaw6/rom/in.txt
zestaw6/tri/bin/tri
zestaw6/tri/in.txt
zestaw10/new.sh
zestaw10/ban/bin/ban
zestaw10/ban/in.txt
zestaw10/jump/bin/jump
zestaw10/jump/in.txt
zestaw10/net/bin/net
zestaw10/net/in.txt
zestaw10/net2/bin/net2
zestaw10/net2/in.txt
zestaw11/new.sh
zestaw11/ball/bin/ball
zestaw11/ball/in.txt
zestaw11/reg/bin/reg
zestaw11/reg/bin/valgrind-out.txt
zestaw11/reg/in.txt
zestaw11/axes/bin/axes
zestaw11/axes/in.txt
zestaw9/ring/bin/ring
zestaw9/ring/in.txt
zestaw9/new.sh
zestaw9/sol/bin/sol
zestaw9/sol/in.txt
zestaw9/doom/bin/doom
zestaw9/doom/in.txt
zestaw9/semi/bin/semi
zestaw9/semi/in.txt
zestaw5/new.sh
zestaw5/field/bin/field
zestaw5/field/in.txt
zestaw5/spiral/bin/spiral
zestaw5/spiral/in.txt
zestaw5/square/bin/square
zestaw5/square/in.txt
zestaw8/new.sh
zestaw8/seq/bin/seq
zestaw8/seq/in.txt
zestaw8/last/bin/last
zestaw8/last/in.txt
zestaw8/odd/bin/odd
zestaw8/odd/in.txt
zestaw1/bin/fibo
zestaw1/bin/primes
zestaw1/bin/perf_bis
zestaw1/bin/perf
zestaw4/bin/neigh
zestaw4/bin/merge
zestaw4/bin/fact
zestaw4/input/neigh_in.txt
zestaw4/input/merge_in.txt
zestaw4/input/fact_in.txt
